TheMachinesBattleServer/x64/
.vs/TheMachinesBattleServer/v15/Browse.VC.opendb
.vs/TheMachinesBattleServer/v15/Browse.VC.db
x64/
TheMachinesBattleServer-2015.VC.db
TheMachinesBattleServer-2015.VC.VC.opendb
